@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav-bg {
    padding: 2.25rem 6rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
  }

  .mobile-nav-bg {
    padding: 3rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
  }

  .btn-desktop {
    width: 17.125rem;
    height: 17.125rem;
  }

  .btn-tablet {
    width: 15.125rem;
    height: 15.125rem;
    font-size: 2rem;
    letter-spacing: 0.125rem;
  }

  .btn-mobile {
    width: 9.375rem;
    height: 9.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 0.07813rem;
    color: #0b0d17;
    cursor: pointer;
    z-index: 20;
  }

  .btn-hover-desktop {
    width: 28.125rem;
    height: 28.125rem;
  }

  .btn-hover-tablet {
    width: 23.84rem;
    height: 23.84rem;
  }

  .btn-hover-mobile {
    width: 15.4rem;
    height: 15.4rem;
  }

  .dest-img-desktop {
    width: 27.8125rem;
    height: 27.8125rem;
  }

  .dest-img-tablet {
    width: 18.75rem;
    height: 18.75rem;
  }

  .dest-img-mobile {
    width: 10.625rem;
    height: 10.625rem;
  }

  .title-text-desktop {
    font-size: 2rem;
  }

  .title-text-tablet {
    font-size: 1.5rem;
  }

  .title-text-mobile {
    font-size: 1rem;
    text-transform: uppercase;
    color: #ffffff;
  }

  .name-text-mobile {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #ffffff;
  }

  .sub-h1 {
    font-size: 1.75rem;
    text-transform: uppercase;
  }

  .sub-h2 {
    font-size: 0.875rem;
    letter-spacing: 0.14763rem;
    text-transform: uppercase;
  }

  .nav-text {
    font-size: 1rem;
    letter-spacing: 0.16875rem;
    text-transform: uppercase;
  }

  .body-text {
    font-size: 1.125rem;
    line-height: 2rem;
    color: #d0d6f9;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
